[Unit]
Description=Christmas Train Service
After=network.target

[Service]
WorkingDirectory=/home/legolayout/legolayout
Restart=on-failure
User=legolayout
Environment=NODE_VERSION=14
Environment=PORT=3000
ExecStart=/home/legolayout/.nvm/nvm-exec christmas-train

[Install]
WantedBy=multi-user.target