[Unit]
Description=Christmas Train Service
After=network.target

[Service]
WorkingDirectory=/home/legolayout/legolayout
ExecStart=npm run christmas-train
Restart=on-failure
User=legolayout
Environment=PORT=3000
Environment=PATH=/home/legolayout/.nvm/versions/node/v14.15.1/bin

[Install]
WantedBy=multi-user.target